li {
  display: inline-block;
  a {
    //@include bold-19;
    @extend .bold-small;
    color: $text-colour;
    display: inline-block;
    padding: 15px 5px 10px 5px;
    margin-right: 15px;
    text-decoration: none;

    &:hover {
      box-shadow: inset 0px -5px 0px 0px $link-hover-colour;
    }

    &:focus {
      outline: 0;
    }

    &:visited,
    &:active {
      color: $text-colour;
    }

    &.active,
    &.active:hover {
      color: $govuk-blue;
      box-shadow: inset 0px -5px 0px 0px $govuk-blue;
    }
  }
}
