// GOV.UK front end toolkit
// Sass variables, mixins and functions
// https://github.com/alphagov/govuk_frontend_toolkit/tree/master/stylesheets

// Settings (variables)
@import "govuk_frontend_toolkit/stylesheets/colours";
@import "govuk_frontend_toolkit/stylesheets/font_stack";
@import "govuk_frontend_toolkit/stylesheets/measurements";

// Mixins
@import "govuk_frontend_toolkit/stylesheets/conditionals";
@import "govuk_frontend_toolkit/stylesheets/device-pixels";
@import "govuk_frontend_toolkit/stylesheets/grid_layout";
@import "govuk_frontend_toolkit/stylesheets/typography";
@import "govuk_frontend_toolkit/stylesheets/shims";

// Mixins to generate components (chunks of UI)
@import "govuk_frontend_toolkit/stylesheets/design-patterns/alpha-beta";
@import "govuk_frontend_toolkit/stylesheets/design-patterns/buttons";
@import "govuk_frontend_toolkit/stylesheets/design-patterns/breadcrumbs";

// Functions
@import "govuk_frontend_toolkit/stylesheets/url-helpers";

@import "govuk-elements-sass/public/sass/elements";

//components
@import "../subnavbar/index.scss";
@import "../option-select/index.scss";
@import "../tabbar/index.scss";
