.govuk-react-datatable {
  th[aria-sort] {

    a {
      display: block;
      position: relative;
      padding-right: 1em;

      &:before, &:after {
        position: absolute;
        right: 0;
        font-size: 0.75em;
      }

      &:before {
        content: " \25b2";
        top: -0.2em;
      }

      &:after {
        content: " \25bc";
        bottom: -0.2em;
      }
    }


    &[aria-sort="none"] a {
      &:before, &:after {
        color: #ccc;
      }
    }

    &[aria-sort="descending"] a:after {
      color: #ccc;
    }

    &[aria-sort="ascending"] a:before {
      color: #ccc;
    }
  }
}
